.App {
  text-align: center;
  padding: 40px;
  /*background: linear-gradient( 90deg, #a7021e, #fffdfd); */
  background: white !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d4cfcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.globos{
  margin-left: -550px;
  margin-top: -70px;
  width: 300px;
  position: fixed;
}
.margen{
  border: 5px solid rgb(139, 4, 4) !important;    
  height: 800px;
  width: 100%;
  border-radius:1%;
}
.izquierda{ 
  float: left;
  position: relative;  
  background-repeat: no-repeat;
  background-size: 100%;
  border-right: 1px outset black;
  height: 800px;
}
.bg-image {
  opacity: 0.7;
  margin-top: 10px;
  width: 250px;
}
.esqui-sup-der{
  z-index: 10;
  position: absolute;
  margin-top: -64px;
  margin-left: 229px;
  width: 276px;
}
.esquina-inf-izq{
  margin-top: -128px;
  width: 250px;
  margin-left: -737px;

}
.container{
  display: flex;
  justify-content: space-between; /* Distribuye los hijos horizontalmente */
}
.derecha{
  flex: 1;
  margin: 10px;
  width: 50%;
  float: left;
  position: relative; 
}

.nombreSara{
  font-family: Papyrus, fantasy;
  font-size: 50px;
  color: white;
  font-weight: bold; 
  -webkit-text-stroke: .3px black 
}
.texto{  
  color: rgb(107, 107, 107);
  text-align: center;
  padding: 10%;
  font-size: 20px;
  font-weight: 500;
  margin-top: -76px;
}
.left-txts{
  margin-top: 5%;
}
.textoQuince{
  font-size: 95px;
  font-family: Papyrus, fantasy;
  color: white;
  -webkit-text-stroke: 3px black;
}
/* Estilo para vista móvil */
@media (max-width: 768px) { /* Puedes ajustar el valor según tus necesidades */
  .container {
    flex-direction: column; /* Cambia la dirección de los hijos a columna */ 
  }
  
  .derecha {
    margin: 5px 0; /* Ajusta los márgenes para vista móvil */
    width: 100%; 
  }
  .izquierda {  
    text-align: center; 
    border-right: none;
  }
  .esqui-sup-der{
    z-index: 10;
    position: absolute;
    margin-top: -1320px;
    margin-left: 154px;
    width: 100px;
  }
  .esquina-inf-izq{
    margin-top: 75px;
    width: 250px;
      
  }
  .margen{
    border: 5px solid rgb(139, 4, 4) !important;    
    height: 1566px;
    width: 98%;
    border-radius:1%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
